*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #defade;
    font-family: ubuntu;
}

header{
    background: #dcfffbba;
    box-shadow: 0.4px 4px 4px 0.4px #91e191;

}
.logo img{
    width: 200px;
}
nav{
    display: flex;
    padding: 20px;
    /* margin: 10px; */
}
nav  ul{
    margin-top: 20px;
    margin-left: auto;
}
nav ul li{
    display: inline;
    /* padding: 10px 0px 0px 0px; */
    margin: 10px 30px 0px 30px;
}

nav ul li a{
    /* padding: 1000px 0px 0px 0px; */
   text-decoration: none;
   color: #737373;
   padding: 15px;
   /* background: #b6b8c6; */

}

nav ul li a:hover{
    /* padding: 1000px 0px 0px 0px; */
   text-decoration: none;
   background: #b6b8c6;
   padding: 15px;
   color: #006637;
}
 .logins ul li{
     width: 400px;
    padding: 15px 50px;
    margin: 0px 20px 0px 20px;
    background: #FF6B1C;
    border-radius: 0.5em;
    outline-style: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    /* display: none; */

    /* margin-left: auto; */
}
.logins ul li:hover{
    background: #FFCDB3;
    color: #E55000;
}
.top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh auto;
    background-image:linear-gradient(to bottom, rgba(220, 248, 255, 0.52), rgba(255, 255, 255, 0.73)),
    url("../img/world-map-vector-png-9\ 1.png");
     background-repeat: no-repeat;
     background-size: cover;
    /* text-align: center; */
    padding: 50px;
    opacity: 0.99;
}
.top .left{
    width: 50%;
    padding-top: 100px;
}
.top .left p{
    font-weight: 600;
    padding: 10px 0px;

}

.top .left h3{
    font-size: 50px;
    color: #135b13;
    font-weight: 600;
}
.top .left .find{
    font-weight: 400;
    padding: 10px 0px;
}

.top .left p span{
    font-weight: 600;
    color: #ff785a;
}
.top .left .address img{
    width: 20px;
}
.top .left .address ul{
    width: 80%;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #135b13;
    margin-bottom: 50px;
}
.top .left .address ul li{
    display: inline;
    margin: 10px;
    border-right: 1px solid #006637;
    padding: 10px;
    color: #9E9E9E;
    
}
.top .left .btn{
    background: #006637;
    font-size: 30px;
    color: #ffffff;
    padding: 10px 50px;
    /* margin-top: 100px; */
}
.top .right {
    width:40%;
    padding: 50px 0px ;
}
.top .right .top-right-img{
    width: 100%;
    /* padding: 100px; */
}
.top .right .top-right-img img{
    width: 100%;
}
.gallery{
    width: 100%;
    display: flex;
    padding: 30px 100px;
    /* justify-content: center; */
    /* margin-left: 50px; */

}
.middle1 ul{
    /* text-align: center; */
    width: 300px;
    padding: 10px;
    margin: 0px 0px 50px 100px;
    border-bottom: 5px solid #91e191;
}
.middle1 ul li{
    display: inline;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px 5px 0px;
    margin: 10px;
       
}
.middle1 ul li:hover ul li{
    border-bottom: 5px solid #297c29;
       
}
/* .middle .img-gallery{
    width: 250px;
    height: 200px;
    margin: 50px 10px 10px 10px;
} */
.img-gallery img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}
.middle1{
    width: 100%;
    height: 120vh auto;
    background: #dcfffbba;

}
.middle1 .img-gallery{
    width: 300px;
    height: 250px;
    background: #ffffff;
    margin: 50px 50px 150px 50px;
}
.middle1 .img-gallery img{
    width: 100%;
    height: 100%;
}
.middle1 .gallery .img-gallery h3{
    padding: 5px;
    font-family: ubuntu;
    font-weight: 700;
}
.middle1 .gallery .img-gallery .price{
    background: #55ff55;
    padding: 3px;
    font-weight: 700;
    width:70px;
    /* text-decoration: line-through; */
    border-radius: 0.5em;
    font-size: 10px;
    font-family: ubuntu;
    outline-style: none;
}

.middle1 .gallery .img-gallery p{
    padding: 5px;
    font-family: ubuntu;
    outline-style: none;
}
.middle1 .gallery .img-gallery .btn-lg{
    width: 100%;
    padding: 10px;
    font-weight: 700;
    background: #135b13;
    border: none;
    color: #ffffff;

}
.middle1 .gallery .img-gallery .contents{
    margin: 10px 0px;
    display: flex;
}
.middle1 .gallery .img-gallery .contents .star-rate{
    margin-left: auto;
}
.middle1 .gallery .img-gallery .contents .star-rate img{
    width: 10px;
}
.middle1 .gallery .img-gallery .btn-lg:hover{
  background: rgb(255, 217, 103);
  font-weight: 100;
  opacity: 0.30;
  border: none;
}
.middle1 .gallery .img-gallery .btn-lg:hover .img-gallery{
    background: #f8b21a;
    border: 2px sol;
    font-weight: 100;
    opacity: 0.30;
  } 
  .see-more {
    text-decoration: underline;
      text-align: center;
      color: #FF6B1C;
      font-weight: 600;
      font-size:40px;
      margin: 40px;
  }
  .client{
    /* margin:50px 0px; */
    width: 100%;
    /* display: flex; */
    background:#E5FFF3;
    color: #006637;
}
  .client1{
      margin:50px 0px;
      width: 100%;
      display: flex;
  }
  .client .horizontal{
    background: #FF6B1C;
      width:50%;
      height: 10px;
  }
  .client .horizontal1{
    background: #006637;
    width:50%;
    height: 10px;
}

.row{
    width: 100%;
    padding: 50px;
}
.row .col-sm{
    margin: 30px;
    /* width: 200px; */
}
.row #clientDetails{
    width: 150px;
    height: 400px;
    color: #000000;
}

.row #clientDetails img{
    width: 100%;
    height:100%;
    border: 2px solid #006637;

}
#caret{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 545px;
}
.details{
    background: #ffffff;
    padding: 30px;
}
.search-container{
    background: #006637;
    padding: 50px;
}
.search-container h5{
    padding-left: 105px;
}
.search{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    background: #006637;
   
    text-align: center;
}
.search .form-inline{
    align-content: center;
    text-align: center;
}
.search .search-input{
    width: 760px;
    padding: 15px;
    font-weight: 700;
    color: #000000;
}
.search .btn{
    background: #ffffff;
    color: #006637;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}
.search .search-input, .btn{
    margin: 10px;
}
  .footer{
      width: 100%;
      background: #c6f3c6;
      color: #006637;
      padding: 20px;
      text-align: left;
      font-size: 13px;

  }
  .footer .container-fluid .row .col-sm ul{
      padding: 10px;
      font-size: 20px;
      ;
  }
  .footer .container-fluid .row .col-sm ul li{
      list-style-type: none;
      color: #999999;
      font-size: 20px;
  }
  .footer p {
      color: #000000;
  } 
  .footer p span img{
      width: 20px;
      height: 20px;
  }
  .footer p span{
       color: #FF6B1C;
  }